/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GLOBAL */
html {
  /* font-size: 18px; */
  /* 1 rem = 18px */

  /* không khai báo fs  */
  /* 1rem = 16px */

  font-size: 16px;
}

body {
  font-family: 'Montserrat', serif;
  color: #212529;
  background-color: white;
  letter-spacing: 1px;
}

